@charset "UTF-8";

body {
	background-color: #c8d8e4;
}

p {
	
	font-size: 20px;
	color: red;
}

.error{
	margin-bottom: 5px;	
}


.error p{
	font-size:35px;
	text-align: center;
	color:red;
}
h1, h2 {
	padding-left: 4%;
	text-align: left;
	color: black;
	text-align: left;
}


.leftalign{
	margin-left:37%;
}

input[readonly] {
	cursor: not-allowed;
}

textarea[readonly]{
	cursor: not-allowed;
}

sup {
	margin-left: 6px;
}

.main label, .main input, .main textarea, .main select {
	color: navy;
	font-size: 25px;
	display: inline-block;
	width: 400px;
	text-align: center;
	border: none;
}

.main input {
	background-color: #c8d8e4;
	border-bottom: 2px solid red;
	font-size: 20px;
}

.main select {
	background-color: #c8d8e4;
	font-size: 20px;
	width: 409px;
	border-bottom: 2px solid red;
}

.main label {
	color: black;
	text-align: left;
	width: 250px;
}

.login {
	background-color: #ffffff;
	width: 400px;
	height: 300px;
	overflow: hidden;
	padding: 30px;
	margin: auto;
	border-radius: 75px;
	text-align: center;
	font-size: 30px;
}

.login label {
	font-size: 30px;
	text-align: center;
	margin-bottom: .6em;
}

.login button {
	margin-top: 10px;
	width: 300px;
	height: 45px;
	font-size: 20px;
	background-color: #2b6777;
	color: white;
	border-radius: 20px;
}

.login input {
	outline: none;
	background-color: white;
	font-size: 30px;
	color: blue;
	margin-bottom: .6em;
	height: 40px;
	width: 300px;
	border: none;
	border-bottom: 2px solid red;
}

.login button:hover {
	background-color: #c8d8e4;
	color: #2b6777;
}

table {
	margin-left: 6%;
	margin-top: 1em;
	width: 88%;
	border-collapse: collapse;
	border-spacing: 3px;
	text-align: center;
	border: 1px solid black;
	justify-content: space-evenly;
	text-align: center;
	background-color: white;
	overflow: scroll;
}

tr:nth-child(odd) {
	background: #808080;
}

th {
	padding: 10px;
	color: white;
	background-color: rgb(7, 11, 1);
	text-transform: uppercase;
	font-size: 20px;
	position: sticky;
	top: 0;
}

td {
	padding: 10px;
	color: #000000;
	font-size: 24px;
}

.menu button {
	background-color: transparent;
	border: none;
	color: #0000ff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold; width : 100%;
	color: white;
	border-radius: 20px;
	width: 100%;
}

.menu button:hover {
	color: #141a3a;
	background-color: white;
	width: 100%;
}

.menuDrop {
	position: inherit;
	display: inherit;
}

.menuDropField {
	display: none;
	position: inherit;
}

.menuDropField button {
	font-size: 22px;
	font-weight: bold; text-align : center;
	width: 100%;
	height: 60px;
	background-color: inherit;
	text-align: center;
}

.menuDrop:hover .menuDropField {
	display: block;
}

.submitbutton {
	text-align: center;
	width: 100%;
}

.submitbutton button {
	border-radius: 20px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	background-color: #8600ff;
	color: white;
}

.showbutton {
	border-radius: 20px;
	width: 250px;
	height: 40px;
	font-size: 20px;
	background-color: #8600ff;
	color: white;
}

.submitbutton button:hover {
	color: red;
}

.card {
	border-radius: 28px;
	box-sizing: border-box;
	box-shadow: 2px 20px 20px grey;
	width: 50%;
	height: 38%;
	margin-left: 25%;
	margin-top: 5%;
	margin-bottom: 10%;
	background-color: #2b6777;
}

.card div {
	padding-top: 5px;
	display: flex;
	flex-direction: column;
}

.card label {
	margin-left: 3.5%;
	padding: 20px;
	font-size: 25px;
	color: white;
}

.card input, .card select, .card textarea {
	text-align: center;
	font-size: 24px;
	margin-left: 6%;
	background-color: #2b6777;
	border: none;
	border-bottom: 2px solid white;
	width: 86%;
	outline: none;
	color: white;
}

.card button {
	font-size: 25px;
	border-radius: 20px;
	margin-left: 30%;
	width: 40%;
	height: 40px;
	margin-top: 2%;
	margin-bottom: 8%;
	background-color: #F5FFFA;
}

iframe {
	border: none;
	height: 90vh;
}

.right {
	float: right;
}

.logout {
	overflow: hidden;
	background-color: #216c81;
	height: 10vh;
}

.logout h1 {
	float: left;
	margin-left: 30px;
}

.headerMenu {
	padding: 15px;
	margin-right: 10px;
	float: right;
	margin-top: 8px;
	overflow: hidden;
	float: right;
}

.dropField {
	right: 2%;
	display: none;
	position: absolute;
	min-width: 85px;
	z-index: 1;
	display: none;
}

.dropField button {
	border: none;
	font-size: 20px;
	text-align: left;
	width: 100%;
	height: 60px;
	background-color: #2b6777;
	color: white;
	font-size: 20px;
}

.dropField button:hover {
	color: blue;
	background-color: white;
	width: 100%;
}

.headerMenu:hover .dropField {
	display: block;
}

.verticalAlign {
	justify-content: space-evenly;
}

.verticalAlign button {
	font-size: 25px;
	border-radius: 20px;
	width: 20%;
	height: 40px;
	background-color: #F5FFFA;
}

.sameline {
	margin-left: 2%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 10%;
}

.sameline input, .sameline select, .sameline label {
	text-align: center;
	font-size: 24px;
	background-color: #2b6777;
	border: none;
	border-bottom: 2px solid white;
	width: 60%;
	outline: none;
	color: white;
}

.sameline button {
	font-size: 24px;
	border-radius: 20px;
	width: 40%;
	height: 34px;
	background-color: #F5FFFA;
}

.transaction {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 50px;
	grid-gap: 10px;
}
.transaction label{
	margin-left:5%;
	color:#2b6777;
	font-size: 25px;
}
.transaction input,.transaction select{
	text-align:center;
	font-size: 25px;
	border:none;
	border-bottom:2px solid #2b6777;
	outline:none;
	background-color: #c8d8e4;
	padding-left: 3%;
	width:28%;
}
.transaction button{
	font-size: 25px;
	text-align:center;
	background-color: #2b6777;
	color:white;
	width: 20%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}